.DS_Store
.sass-cache
classes
stacktrace.log
docs.tar.gz

*~
*.ipr
*.iml
*.iws
*.war
target/
test/reports/*
unzipped/*
docs/*
*.zip
plugin.xml

src/docs

grails-app/i18n/shiro.properties
grails-app/i18n/messages.properties

web-app/plugins/*
web-app/images/skin/*
web-app/images/leftnav_top.png
web-app/images/spinner.gif
web-app/images/springsource.png
web-app/images/favicon.ico
web-app/images/grails_logo.jpg
web-app/images/grails_logo.png
web-app/images/leftnav_btm.png
web-app/images/leftnav_midstretch.png
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
web-app/css/main.css
web-app/js/application.js
web-app/js/prototype/
